@font-face {
    font-family: Yellowtail;
    src: url(assets/fonts/Yellowtail-Regular.woff2);
    font-display: swap;
}
@font-face {
    font-family: Lato;
    src: url(assets/fonts/Lato-Regular.woff2);
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --primary-color: #023e7d;
    --background-color: #7d8597;
    --text-shadow-primary: #979DAC;
    --text-shadow-secondary-and-hover: #0353A4;
    --text-shadow-background: #001845;
    --text-with-backgrounds-color: #e7ecef;
    --sub-subtitle-background-color: #156ec7;
    --button-clicked: #002855;
    --section-title-font-size: 24px;
    --section-subtitle-font-size: 16px;
    --paragraph-title-button-and-h3-font-size: 14px;
    --paragraph-font-size: 12px;
    --about-me-span-font-size: 16px;
    
}

html {
    width: 100%;
    margin: auto;
    font-family: Lato;
    background-color: var(--background-color);
    text-shadow: 0 0 3px var(--text-shadow-primary), 
    0 0 5px var(--text-shadow-secondary-and-hover);
}

body {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.container {
    scroll-snap-align: start;
}

/* all headings: */
h1, h2 {
    font-size: var(--section-title-font-size);
    text-transform: uppercase;
}

/* all images */
img {
    object-fit: cover;
}

header .right-nav {
    padding: 0 5vw;
}

header .right-nav nav {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 5vw;
    background-color: var(--primary-color);
    border-radius: 25vw;
    gap: 15vw;
    padding: 1vw 3vw;
}

header .right-nav nav a img {
    width: 5vw;
    height: 4.75vw;

}

header .homepage {
    padding: 5vw 1.5vw;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    gap: 5vw;
    padding-bottom: 15vw;
}

header .homepage .homepage-left {
    width: 100vw;
    height: 50vw;
    text-align: center;
    margin-bottom: 15vw;
    padding: 0 2vw;
}

header .homepage .homepage-left h1 {
    padding-bottom: 2vw;
}

header .homepage .homepage-left h2 {
    padding-bottom: 2vw;
}

header .homepage .homepage-left h2 span {
    font-family: Yellowtail;
    text-transform: uppercase;
    text-decoration: underline;
    /* padding-bottom: 25vw; */
}

header .homepage .homepage-left span.title {
    text-shadow: 0 0 5px var(--text-with-backgrounds-color);
    background-color: var(--primary-color);
    box-shadow: -3px -3px 3px var(--text-shadow-background);
    font-size: var(--section-subtitle-font-size);
}

header .homepage .homepage-left p {
    text-align: justify;
    padding: 5vw 0 7.5vw;
    font-size: var(--paragraph-font-size);
}

header .homepage .homepage-left button {
    text-align: justify;
    padding: 2.5vw;
    border-radius: 25vw;
    border-style: none;
    background-color: var(--primary-color);
    text-shadow: 0 0 3px var(--text-shadow-secondary-and-hover), 
    0 0 5px var(--text-shadow-background);
    font-size: var(--paragraph-title-button-and-h3-font-size);
    cursor: pointer;
}   

header .homepage .homepage-left button:hover {
    background-color: var(--text-shadow-secondary-and-hover);
}

header .homepage .homepage-left button:active {
    background-color: var(--button-clicked);
    color: var(--background-color);
}

header .homepage .homepage-left button a:link {
    color: var(--text-with-backgrounds-color);
}

header .homepage .homepage-left button a:visited {
    color: var(--text-with-backgrounds-color);
}

header .homepage .homepage-left figure img {
    display: none;
}

.homepage .homepage-right {
    width: 50vw;
    height: 50%;
}

header .homepage .homepage-right img {
    width: 100vw;
    height: 100vw;
    padding-top: 10vw;
    object-fit: cover;
}

main section.left-nav {
    display: none;
}

main h2 {
    display: flex;
    justify-content: center;
    border-style: dotted;
    padding: 2vw 5vw;
}

section.about-me {
    padding: 17.5vw 2vw;
}

section.about-me span {
    font-size: var(--about-me-span-font-size);
}

section.about-me p {
    padding-top: 5vw;
    font-size: var(--paragraph-font-size);
    text-align: justify;
}

.about-me-title {
    padding-top: 5vw;
}

.hobby1, .hobby2, .hobby3 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5vw;
    text-align: justify;
}

.hobby2 {
    flex-direction: row-reverse;
}

.hobby img {
    width: 25vw;
    height: 25vw;
}

section.resume {
    padding: 17.5vw 2vw;
}

.resume-education, .resume-experience {
    padding: 3.5vw 2vw;
}

.resume span {
    background-color: var(--sub-subtitle-background-color);
    box-shadow: -3px -3px 3px var(--text-shadow-background);
    font-size: var(--section-subtitle-font-size);
}

.resume dt {
    padding-top: 1.5vw;
    text-decoration: underline;
    font-size: var(--paragraph-title-button-and-h3-font-size);
}

.resume dd {
    font-size: var(--paragraph-font-size);
}

/* Construction site : portfolio starts */

section.portfolio {
    padding: 17.5vw 2vw;
}

#portfolioButtonContainer {
    padding: 5vw 0;
    display: flex;
    justify-content: center;
    gap: 3.5vw;
}

#portfolioButtonContainer button {
    border-style: none;
    background-color: transparent;
    text-decoration: underline;
    font-size: var(--paragraph-title-button-and-h3-font-size);
    font-weight: 700;
    cursor: pointer;
}

#portfolioButtonContainer button:hover {
    text-shadow: 1px 1px 3px var(--text-shadow-secondary-and-hover);
}

#portfolioButtonContainer button.active {
    color: var(--text-with-backgrounds-color);
    text-shadow: 2px 2px 3px var(--text-shadow-background);
}

.port-filter {
    display: none;
}

.show {
    display: block;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
    padding: 5vw 0;
    overflow: hidden;
}

.portfolio img {
    width: 35vw;
    height: 55vw;
}

.writing img {
    object-fit: fill;
}

#revou-A1 {
    width: 55dvw;
    object-fit: fill;
}

#revou-A2, #revou-A3 {
    object-position: top;
}
/* Construction site : portfolio ends */

footer h2 {
    display: flex;
    justify-content: center;
    border-style: dotted;
    padding: 2vw 5vw;
}

section.contact {
    padding: 17.5vw 2vw;
}

.contact-greeting {
    font-size: var(--section-subtitle-font-size);
    padding: 5vw 0;
}

.contact-email {
    display: flex;
    align-items: center;
    gap: 5vw;
    text-align: justify;
}

.contact-email h3 {
    font-size: var(--paragraph-title-button-and-h3-font-size);
}

.contact-socmed {
    display: flex;
    justify-content: space-evenly;
    padding: 5vw 0;
}

.contact img {
    width: 10vw;
    height: 10vw;
}

.contact div small {
    display: flex;
    justify-content: center;
}
